header {
  background-image: linear-gradient(to right bottom, #d5a4e2, #a4a0f8, #66acff);
  min-height: 100vh;
  width: 100vw;
  .naviguation {
    display: flex;
    justify-content: flex-end;
    transform-style: preserve-3d;
    ul {
      @include flex_center;
      margin-right: 56px;
      margin-top: 48px;
    }
    a {
      width: 80px;
      height: 80px;
      background-color: white;
      border-radius: 50%;
      @include flex_center;
      margin-right: 24px;
      color: $primary-color;
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      &:hover {
        transform: scale(1.2);
        box-shadow: black;
      }
      .hobbies-link {
        color: $secondary-color;
      }
      .contact-link {
        color: $tertiary-color;
      }
    }
  }
}

// CUBE

.wrap {
  perspective: 1000px;
  perspective-origin: 50% 10%;
  width: 70vw;
  height: 50vh;
  margin-left: 20%;
  margin-right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}

.cube {
  transform: preserve-3d;
  width: 300px;
  height: 300px;

  transform-style: preserve-3d;
  transition: transform 0.7s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.cube:hover {
  cursor: pointer;
}

.cube div {
  position: absolute;
  opacity: 0.9999;
}

.cube {
  div {
    width: 200px;
    height: 200px;
    background: #66acff;
    @include flex_center;
    @include font_primary;
    color: white;
    font-size: 40px;
    text-align: center;
  }
  div:nth-child(1) {
    transform: rotateY(0deg) translateZ(100px);
    background-color: #d5a4e2;
  }
  div:nth-child(2) {
    transform: rotateY(90deg) translateZ(100px);
    background-color: $tertiary-color;
  }
  div:nth-child(3) {
    transform: rotateY(180deg) translateZ(100px);
    background-color: #d5a4e2;
  }
  div:nth-child(4) {
    transform: rotateY(-90deg) translateZ(100px);
    background-color: $tertiary-color;
  }
  div:nth-child(5) {
    transform: rotateX(90deg) translateZ(100px);
  }
  div:nth-child(6) {
    transform: rotateX(-90deg) translateZ(150px);
  }
}

@keyframes loopcube {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  15% {
    transform: rotateX(90deg) rotateY(0deg);
  }
  30% {
    transform: rotateX(0deg) rotateY(90deg);
  }
  45% {
    transform: rotateX(0deg) rotateY(180deg);
  }
  60% {
    transform: rotateX(0deg) rotateY(-90deg);
  }

  100% {
    transform: rotateX(-90deg) rotateY(0deg);
  }
}

.cube {
  animation: loopcube 10s forwards infinite;
}

/* ARROWS  */

.arrows {
  width: 150px;
  height: 150px;
  display: grid;
  grid-template-areas:
    ". arrow_up ."
    "arrow_left . arrow_right"
    ". arrow_down .";
  margin-left: 30px;
}

.arrows svg:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.up {
  grid-area: arrow_up;
}

.down {
  grid-area: arrow_down;
}
.left {
  grid-area: arrow_left;
}
.right {
  grid-area: arrow_right;
}

/* VISIT AND CODE */

.visit:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.code:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* LINKS */

.socials {
  perspective: 1000px;
  perspective-origin: 50% 10%;
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-left: 80px;
  nav {
    transform: preserve-3d;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-radius: 50%;
      border-top-left-radius: 100%;
      li {
        padding: 12px;
        color: white;
        border-radius: 50%;
        border-top-left-radius: 70%;
        @include flex_center;
        &:hover {
          transform: scale(1.2);
          border: 2px solid white;
          cursor: pointer;
        }
      }
    }
  }
}

@keyframes loopsocial {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.socials {
  nav {
    animation: loopsocial 5s 1s forwards infinite;
  }
}
nav:hover {
  animation-name: none;
}
