@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex_around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin font_primary {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
